<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SemanticSearch</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegServ</display-name>
    <servlet-name>RegServ</servlet-name>
    <servlet-class>com.server.RegServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServ</servlet-name>
    <url-pattern>/RegServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.server.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fileupload</display-name>
    <servlet-name>Fileupload</servlet-name>
    <servlet-class>com.server.Fileupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fileupload</servlet-name>
    <url-pattern>/Fileupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.server.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.server.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/semanticsearch</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>KeywordSearchServlet</display-name>
    <servlet-name>KeywordSearchServlet</servlet-name>
    <servlet-class>com.server.KeywordSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KeywordSearchServlet</servlet-name>
    <url-pattern>/KeywordSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Keydatarequest</display-name>
    <servlet-name>Keydatarequest</servlet-name>
    <servlet-class>com.server.Keydatarequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Keydatarequest</servlet-name>
    <url-pattern>/Keydatarequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Request</display-name>
    <servlet-name>Request</servlet-name>
    <servlet-class>com.server.Request</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request</servlet-name>
    <url-pattern>/Request</url-pattern>
  </servlet-mapping>
</web-app>